body {
  background-color: bisque;
}

h1,
p {
  text-align: center;
  margin: 50px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  max-width: 350px;
}

div {
  display: block;
  margin: 0 auto;
}
